h1{
    margin-top: 50px;
}

h1, h3{
    font-weight: 700;
}

h3{
    margin-top: 50px;
    font-size: 20px;
}

hr{
    width: 80px;
    border-bottom: 3px #6651E4 solid;
    margin: 0;
    margin-bottom: 10px;
}

label{
    font-weight: 700;
    margin: 20px 0 5px;
}

input, textarea, select{
    opacity: 0.7;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 20px;
}

textarea{
    resize: none;
}


button{
    width: 280px;
    height: 38px;
    margin: 50px 0;
}

p#cadastro{
    font-size: 14px;
    margin-top: 30px;
    color: #4e4e4e;
}

p#cadastro a{
    margin-left: 10px;
    color: #6651e4;
    font-weight: 700;
}

p#cadastro a:hover{
    color: #3a2a96;
}

div#termo{
    margin-top: 30px;
}

#termo p{
    font-size: 12px;
}

#termo p a{
    color: #6651e4;
    text-decoration: underline;
    font-weight: 700;
}


/* divisão da tela */

div#detalhe img{
    width: 30%;
    position: fixed;
    bottom: 2%;
    right: 0;
}