h1{
    margin: 100px auto 50px;
    font-weight: 700;
}

/* cards desafios */

div#cards{
    overflow-y: auto;
    height: 60vh;
}

div.desafio-card{
    margin: 20px auto;
    height: 60px;
    background-color: #F6F4FF;
    padding: 0 30px;
    border-radius: 5px;
}

div.desafio-card:hover{
    background-color: #e3e2ec;
}

a.link-desafio{
    height: 100%;
}

a.link-desafio p{
    margin: 0;
}

a.link-desafio:hover{
    color: #4e4e4e;
}

div.stack{
    height: 28px;
    width: 125px;
    border-radius: 2px;
}


/* sugestão desafio */

p#contato{
    margin-top: 20px;
    color: #4e4e4e;
    margin-bottom: 50px;
}

p#contato a{
    margin-left: 10px;
    color: #6651e4;
    font-weight: 700;
}

p#contato a:hover{
    color: #3a2a96;
}