main{
    height: 70vh;
}

h1{
    font-weight: 700;
}

p{
    margin-bottom: 20px;
}

label{
    font-weight: 700;
    margin: 20px 0 5px;
}

input{
    opacity: 0.7;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 20px;
}

button{
    height: 38px;
    margin-top: 50px;
    border-radius: 5px;
}

p#cadastro{
    font-size: 14px;
    margin-top: 30px;
    color: #4e4e4e;
}

p#cadastro a{
    margin-left: 10px;
    color: #6651e4;
    font-weight: 700;
}

p#cadastro a:hover{
    color: #3a2a96;
}


/* divisão da tela */

div#detalhe{
    background-color: #F0EEFC;
    height: 99vh;
    position: relative;
}

div#detalhe img{
    position: absolute;
}

img#i1{
    width: 25%;
    transform: rotate(200deg);
    right: 0;
}

img#i2{
    width: 90%;
    left: -50px;
}

img#i3{
    width: 60%;
    bottom: 0;
    right: 0;
}

p#aviso{
    color: red;
    font-size: 14px;
    text-align: center;
}