@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #4e4e4e;
}

button{
    color: white;
    font-weight: 700;
    background-color: #6651e4;
    border-radius: 65px;
    border: 0;
}

button:hover{
    background-color: #3a2a96;
}

input:hover, input:focus, 
textarea:hover, textarea:focus, 
select:hover, select:focus{
    outline: none !important;
    border-color: #6651e4;
}

/* Menu Navegação / Header */
ul#nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
}

a:hover{
    color: #6551e4;
}

li{
    font-size: 14px;
}

li#login{
    font-weight: 700;
}

/* ESTILIZAÇÃO DA SCROLLBAR */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background:  #dddddda2;
    border-radius: 10px;
    scrollbar-base-color: #dddddda2;
}


/* FOOTER */
footer{
    background-color: #E0DCFA;
    font-size: 14px;
    padding: 50px 0;
}

footer h4{
    font-size: 14px;
    font-weight: 700;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer div p{
    text-align: end;
}



/* FONTES */
.font-1{
    font-size: 36px;
}

.font-2{
    font-size: 24px;
}

.font-3{
    font-size: 18px;
}

.font-4{
    font-size: 16px;
}


/* CORES STACK */

.front{
    background-color: rgba(224, 220, 250, 0.7);
}

.back{
    background-color: rgba(209, 234, 221, 0.7);
}

.mob{
    background-color: rgba(252, 216, 225, 0.7);
}

.data{
    background-color: rgba(240, 230, 218, 0.7);
}

.ui{
    background-color: rgba(216, 234, 238, 0.7);
}

.default{
    background-color: rgba(219, 219, 219, 0.7);
}


/* CORES STATUS */

.andamento{
    background-color: rgba(255, 243, 205, 0.7);
    color: #AF9549;
    border: 0.5px #AF9549 solid;
}

.concluido{
    background-color: rgba(39, 174, 95, 0.7);
    color: white;
}